footer.container.py-5 
    .row 
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                 a.nav-link(href="/AboutUs") About Us 
                        a.nav-link(href="/Travels") Travels 
                        a.nav-link(href="/Comments") Comments 
        .col
            p.copyright.text-center.text-md-right
                | RIGHTS RESERVED 
                
                span= actualYear 

            



