extends  ./layouts/index.pug

block content
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1  #{page}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur congue velit, non tincidunt augue accumsan ornare. Aenean vehicula, metus euismod fringilla aliquam, mi augue tincidunt ex, ut laoreet ipsum ipsum at ligula. Integer laoreet massa vitae felis fermentum feugiat. Mauris non orci eros. Vivamus et malesuada lacus. Quisque nec dolor magna. Nulla a vehicula nunc. Duis sodales ligula vitae est tempor, sit amet convallis nunc faucibus. Phasellus vitae commodo felis. Donec accumsan rhoncus laoreet. Sed a tortor nec lectus imperdiet mollis. Integer mauris purus, consequat in neque semper, scelerisque mattis nisi.

                p Duis at erat sollicitudin, dictum neque vitae, pretium elit. Aliquam vehicula bibendum sapien, vitae cursus dolor imperdiet et. Pellentesque pulvinar, nulla id pretium efficitur, turpis massa sollicitudin risus, sit amet ornare ligula tellus vel odio. Morbi vitae scelerisque justo. Fusce ac quam purus. Vestibulum interdum tristique ante, non laoreet lorem viverra at. Duis at tortor in tortor tincidunt bibendum non eu sapien. Vestibulum venenatis viverra ex, tempor fermentum metus sollicitudin nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales neque leo, vitae consequat neque dapibus id. Suspendisse vitae pulvinar justo.

                p Nullam pellentesque tempus sapien, sit amet blandit ipsum congue at. Aliquam aliquam lectus quis velit ultrices, at condimentum mauris accumsan. Ut accumsan aliquet est. Etiam suscipit, quam vitae mollis ultricies, nisi urna ullamcorper felis, at mollis metus augue sit amet ligula. Nulla nec mauris ullamcorper, scelerisque neque at, gravida purus. Proin sed ipsum non sapien mollis suscipit. Nam volutpat justo tincidunt tellus blandit euismod. Vestibulum eu enim vitae urna venenatis condimentum. Nunc eu velit ac est iaculis dignissim. Sed cursus rhoncus tellus eget fringilla. Nunc ut sem sed magna pharetra dictum. Proin ut facilisis lacus.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Secuirity
                    p Nunc eu velit ac est iaculis dignissim. Sed cursus rhoncus tellus eget fringilla. Nunc ut sem sed magna pharetra dictum. Proin ut facilisis lacus.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Places
                    p Nunc eu velit ac est iaculis dignissim. Sed cursus rhoncus tellus eget fringilla. Nunc ut sem sed magna pharetra dictum. Proin ut facilisis lacus.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Prices 
                    p Nunc eu velit ac est iaculis dignissim. Sed cursus rhoncus tellus eget fringilla. Nunc ut sem sed magna pharetra dictum. Proin ut facilisis lacus.

